DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.ye9h8er.mongodb.net/portfolio_test?retryWrites=true&w=majority&appName=Cluster0"
SMTP_HOST=smtp_host
SMTP_PORT=smtp_port
SMTP_USER=smtp_user
SMTP_PASSWORD=smtp_password
EMAIL_TO=email_to
REVALIDATE_SECRET=revalidate_secret
